{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Sensors{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if creds %}
    <article class="row">
      <header>
        <div><h1>SMTP LOGIN CREDITIALS</h1></div>
      </header>
      <p class="body">{{ creds['gmail'] }} Password: *****</p>
      <a class="action" href="{{ url_for('contacts.update_smtp') }}">Edit</a>
    </article>
  {% else %}
    <article class="row">
      <p class="body">You mmust add an SMTP address (gmail) and password to receive alerts.</p>
      <a class="action" href="{{ url_for('contacts.add_smtp') }}">Add</a>
    </article>    
  {% endif %}
    <hr>
  {% if contacts %}
    <header>
      <div><h1>Contact Numbers</h1></div>
    </header>
    {% for contact in contactss %}
      <article class="row">
        <p class="body">{{ contact['phonenumber'] }} : {{ contact['carrier'] }}</p>
      </article>
      {% if not loop.last %}
      {% endif %}
      <a class="action" href="{{ url_for('contacts.update') }}">Edit</a>  
      <hr>
    {% endfor %}
  {% else %}
    <article class="row">
      <p class="body">You must add a contact if you want to receive alerts.</p>
      <a class="action" href="{{ url_for('contacts.update') }}">Add</a>
    </article>    
  {% endif %}
    <hr>
  {% for sensor in sensors %}
    <article class="row">
      <header>
        <div><h1>{{ sensor['sensorname'] }}</h1></div>
      </header>
      <p class="body">high temp alert: {{ sensor['ht_alert'] }} - low temp alert: {{ sensor['lt_alert'] }} - 
         high humidity alert: {{ sensor['hh_alert'] }} - low humidity alert: {{ sensor['lh_alert'] }} -  
         temp alert: {% if sensor['temp_alert_on'] == 1 %} ON {% else %} OFF {% endif %} -  
         humidity alert: {% if sensor['hum_alert_on'] == 1 %} ON {% else %} OFF {% endif %} -  
         time between alerts: {{ sensor['time_between'] }} hours
      </p>
      <a class="action" href="{{ url_for('sensors.update', id=sensor['id']) }}">Edit</a>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}